.about {
  background: grey;
  margin: 10px;
  width: 20%;
  height: 100px;
  border-radius: 20px;
  padding: 20px;
}

.home {
  padding: 20px;
  border-radius: 20px;
  height: 100px;
  width: 20%;
  margin: 10px;
  background: blue;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

